.light-theme {
    background-color: $light-background;

    .bar_title {
        background-image: $box-gradient-light-theme;
    }

    .navigation_menu-button, .navigation_button_dropbutton {
        @include nav-button-light-theme;

        &:hover, &:active {
            background-color: #E6BBE2;
        }
    }

    .navigation_menu-link {
        a {
            color: black;

            &:hover {
                border-color: #110038;
            }
    
            &:active {
                color: #887998;
            }
        }
    }
    
    .searchbar {
        @include box-content-light-theme;
    
        &_title {
            background-image: $box-gradient-light-theme;
        }

        button {
            background-color: #E6E6E6;
            color: #B4B4B4;
        }
    }

    .searchtags {
        .tag {
            @include extra-button-light-theme;
        }
    }

    section {

        h2 {
            border: 1px solid #E6BBE2;
            box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
        }

        .suggestions_gif {
            @include box-content-light-theme;

            .see-more {
                @include extra-button-light-theme;
            }
            
            &_title {
                background-image: $box-gradient-light-theme;
            }
        }

        .trending_gif {
            background-color: #e6e6e6;

            &:hover {
                background: #E6E6E6;
                box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
            }

            &_title {
                background-image: $box-gradient-light-theme;
            }
        }

        .end-message {
            color: #000;
        }
    }
}