.bar_title {
    font-size: 0.75em;
    color: white;
    width: 100%;
    height: 1.5em;
    margin-bottom: 2%;
    box-shadow: 0 1px 0 0 #110038;

    h1 {
        padding: 0.215em;
        line-height: 1em;
    }
}

.navigation, .searchbar, .suggestions, .trending, .misGuifos, .create-gif, .searchtags {
    width: 85%;
    margin: 0 auto;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4em;
    margin-bottom: 2%;

    .logo {
        width: auto;
        height: 3em;
    }

    &_menu {
        display: flex;
        align-items: center;
        
        &-button {
            width: 9em;
            @include cta-button;

            &:hover {
                a {
                    border-color: #110038;
                }
            }

            a {
                @include link-properties;
                width: inherit;
                color: black;
                justify-content: center;
                width: 95%;
                height: 85%;
                margin: 2px;
                border: 1px dotted transparent;
            }
        }

        &-link {
            height: 2.25em;

            a {
                @include link-properties;
                border: 1px dotted transparent;
                padding-left: 4px;
                padding-right: 16px;
                transition: all 0.4s;
            }
        }
    }
    
    .navigation_button_dropbutton {
        width: 10.5em;
        display: flex;
        justify-content: space-evenly;
        @include cta-button;

        p, span {
            height: 85%;
            border: 1px dotted transparent;
            margin: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        p {
            width: 80%;
        }

        span {
            width: 20%;
        }

        span.line {
            width: 1px;
            height: 100%;
            background-color: #110038;
            margin: 0;
            border: 0;
        }

        .dropdown-content {
            display: none;
        }

        &:hover {
            p, span {
                border-color: #110038;
            }
        }
    } 

    div {
        margin-left: 1em;
    }
}