section {

    h2 {
        background-color: #FFFAFE;
        font-size: 0.9em;
        padding: 0.5em;
        margin-bottom: 1.1em;
    }

    .suggestions_gif_container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4em;

        .suggestions_gif {
            width: 23%;
            height: 260px;
            padding: 2px;
            position: relative;

            &_title {
                @include gif-titles;
                margin-bottom: 2px;
                padding: 0.2em;

                .close-button {
                    width: 16px;
                    height: 14px;
                    cursor: pointer;
                }
            }
            

            .suggested {
                width: 100%;
                height: 238px;
                object-fit: cover;
            }

            .see-more {
                z-index: 5;
                width: 81px;
                position: absolute;
                bottom: 15px;
                left: 7px;
                @include extra-button;

                p {
                    font-size: 0.9em;
                    line-height: 18px;
                    padding: 4px 5px;
                    border: 1px dotted transparent;
                }

                &:hover {
                    p {
                        border-color: #110038;
                    }
                }
            }
        }
    }

    .trending_gif_container {
        margin-bottom: 2em;
        display: grid;
        grid-template: repeat(3, 298px) / repeat(4, 1fr);
        grid-gap: 1em;
        grid-auto-flow: row dense;

        .double_gif {
            grid-column-start: 2 span;
        }

        .trending_gif {
            position: relative;
            width: 100%;
            height: 298px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:hover {
                padding: 2px;   

                .trending_gif_title {
                    display: block;
                }
            }

            &_title {
                position: absolute;
                bottom: 2px;
                width: calc(100% - 4px);
                padding: 0.2em 0;
                @include gif-titles;
                display: none;

                p {
                    padding-left:4px;
                }
            }
        }
    }

    .end-message {
        font-size: 2em;
        margin: 16px;
        text-align: center;

        p {
            margin-bottom: 1em;
        }
        
        img {
            width: 256px;
            height: auto;
        }
    }
}