section {

    h2 {
        background-color: #FFFAFE;
        font-size: 0.9em;
        padding: 0.5em;
        margin-bottom: 1.1em;
    }

    .suggestions_gif_container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4em;

        .suggestions_gif {
            width: 23%;
            height: 260px;
            padding: 2px;
            position: relative; 

            &_title {
                @include gif-titles;
                margin-bottom: 2px;
                padding: 0.2em;

                .close-button {
                    width: 16px;
                    height: 14px;
                    cursor: pointer;
                }
            }

            img {
                width: 100%;
                height: 238px;
                object-fit: cover;
            }

            .see-more {
                width: 81px;
                height: 34px;
                position: absolute;
                bottom: 15px;
                left: 7px;
                color: #fff;
                border: 1px solid #4C2F99;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                p {
                    font-size: 0.9em;
                    line-height: 18px;
                }
            }
        }
    }

    .trending_gif_container {
        margin-bottom: 2em;
        display: grid;
        grid-template: repeat(3, 298px) / repeat(4, 1fr);
        grid-gap: 1em;
        grid-auto-flow: row dense;

        .double_gif {
            grid-column-start: 2 span;
        }

        .trending_gif {
            position: relative;
            width: 100%;
            height: 298px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &_title {
                position: absolute;
                bottom: 0px;
                width: 100%;
                padding: 0.2em 0;
                @include gif-titles;
                display: none;

                p {
                    padding-left:4px;
                }
            }
        }
    }
}